.score-circle-warning {
    border-color: orange;
}

.score-circle {
    border-radius: 50%;
    border: 0.3rem solid green;
    width: 4rem;
    height: 4rem;
    line-height: 3.25rem;
    text-align: center;
    font-size: 1.75rem;
}